:root {
    /* --name: value; var(--main-bg-color)*/
    --primary-clr: #fca22a;
    --secondary-clr: #21b360;
    --terciary-clr: #0e385d;
    --grey-clr: #f8f8f8;
    --black-clr: #1C1C1C;
 }
 
 ul {
    list-style-type: none;
}

li{
    padding: 10px;
}
/* */
body {
    margin: 0;
    font-family: "Playfair Display", serif; 
}

.menu {
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}


header {
    background-color: var(--black-clr);
    width: 100%;
    
}

#logo{
    width: 213px;
    height: 44px;
    background-color: rgb(228, 41, 97);
    
}

.navbar {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 40px;
    font-weight: bold;
    font-size: 20px;
    padding: 14px 16px;
    
}

.bookingbtn {
    margin-left: 100px;
    border-top: #ffffff solid 0.2px;
    border-left: #ffffff solid 0.2px;;
    
    
}

.bookingbtn > a {
    
    color: var(--primary-clr);
    
    
}



.dropdown-content {
    background-color: red;
    position: absolute;
    visibility: hidden;
    padding: 10px 10px;
    box-sizing: border-box;
}

.navbar a {  
    text-align: center;
    text-decoration: none;
    display: block;
    color:white;
}


.dropdown-content > a {
    font-weight: lighter;
    font-size: smaller;
}

span {
    color: white;
    font-size: 16px;
    vertical-align: middle;
    
    
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  visibility:visible;
}